*
{
    font-family: 'Courier New', Courier, monospace;
}
.title
{
    text-align: center;
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 100px;
}
.flexbox-row
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.flexbox-column
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.text-center
{
    text-align: center;
}
.options
{
    padding-left: 10%;
    padding-right: 10%;
}
button
{
    font-size: 1.5rem;
    padding: 0;
    border: 2px solid black;
}
.help-icon
{
    height: 100%;
    height: 1.5rem;
}
.color-button
{
    width: 150px;
    height: 150px;
    padding: 0;
    border: 2px solid black;
}
.option-button
{
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    border-radius: 20% 5%;

}
.option-text, 
.color-button
{
    font-size: 1.5rem;
    align-self: center;
    text-align: center;
}
.grid
{
    height: 80vh;
    background-color: gainsboro;
    aspect-ratio: 1/1;
    border: 3px solid black;
}